---
import Overskrift from "../text/overskrift.astro";
import Underoverskrift from "../text/underoverskrift.astro";
import Brodtekst from "../text/brodtekst.astro";


let pil = ">";

const { gif, gifimg, href, titel, tekst, programs } = Astro.props;
---

<a href={href} class="group">
  <div class="grid lg:grid-cols-2 grid-cols-1 lg:pb-0 pb-10">
    <!-- billede -->
    <div class="relative h-full bg-center bg-no-repeat bg-cover">
      <img src={gifimg} data-gif={gif} data-gifimg={gifimg} alt={titel} />
    </div>

    <!-- beskrivelse -->
    <div class="px-10 flex flex-col gap-10 h-full py-5">
      <div>
        <Overskrift>
          <h2>{titel}</h2>
        </Overskrift>
        <Underoverskrift><h3>{programs.join(", ")}</h3></Underoverskrift>
      </div>
      <Brodtekst><p>{tekst}</p></Brodtekst>
      <div class="mt-auto flex justify-end">
        <Overskrift>
          <h3
            class="transition-transform duration-200 group-hover:translate-x-2"
          >
            {pil}
          </h3>
        </Overskrift>
      </div>
    </div>
  </div>
</a>

<script is:inline>
  document.querySelectorAll("a.group").forEach((link) => {
    const img = link.querySelector("img[data-gif]");
    if (!img) return;

    link.addEventListener("mouseenter", () => {
      img.src = img.dataset.gif;
    });

    link.addEventListener("mouseleave", () => {
      img.src = img.dataset.gifimg;
    });
  });
</script>
